@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-image: url(Component/Images/c837a6_0dc8ea17b49e42f5adc4c9c76fc9c5c8f000.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.second-img{
    background-image: url(https://static.wixstatic.com/media/c837a6_d8151a2904cc4146b764ef5a6786164d~mv2.jpg/v1/fill/w_844,h_653,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/A.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.second-img1{
    background-image: url(https://static.wixstatic.com/media/c837a6_d3c06672bdc54a15a26a7259bb9e6872~mv2.jpg/v1/fill/w_874,h_653,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/E.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fourth-img{
    background-image: url(https://static.wixstatic.com/media/c837a6_1e3a36e8db8f496fbd99177643d93bc3~mv2.jpg/v1/fill/w_859,h_564,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/About.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fifth-img{
    background-image: url(https://static.wixstatic.com/media/c837a6_d839b9449b6349e492f9af01af402715~mv2.jpg/v1/fill/w_1899,h_913,fp_0.50_0.00,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_d839b9449b6349e492f9af01af402715~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}